@charset "utf-8";
/* CSS Document */
h1{
	color:#391e90;
	font:"MS Serif", "New York", serif;
	text-align:center;
}
.bouton{
	/*color:#F06;*/
	text-align:center;
	background-color:#b4b4ff;	
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	width:50%;
	outline-color:#0030b9;	
}
td.difficulte{
	width:50%;
	text-align:left;
}
td{
	text-align:center;
}
td.choix{
	color:#5843f4;
	/*background-color:#8da7f4;*/
	outline-color:#0030b9;	
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align:left;
	padding-left:50px;
}
table{
	width:100%;
}

.minuterie {

font-size: 16pt;
color: #000000;
background-color: #FFFFFF;
border-style: solid;
border-top-width: 1px;
border-left-width: 1px;
border-bottom-width: 1px;
border-right-width:1px;
border-color: #FFFFFF;
}

.body{
	color:#1b1431;
	font-size:18px;
	margin:20px;
}

#header{
	background-image:url('../images/arel.png');
	background-color: #01466F;
	background-repeat:no-repeat;
	background-position:center;
	padding-top:120px;
	width:100%;
	high:300px;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	border-radius:12px;
	-webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, .7); 
	-moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, .7); 
	box-shadow: 0px 2px 4px rgba(0, 0, 0, .7);
}
p.question{
	width:100%;
	font-weight:bold;	
}
p.vrai{
	color:green;
}
p.faux{
	color:red;
}

p.more-user{
	padding-left:50px;
}
p.more-qcm{
	padding-left:70px;
}
p.more-result{
	padding-left:100px;
}

}