@charset "utf-8";
/* CSS Document */
h1{
	color:#391e90;
	font:"MS Serif", "New York", serif;
	text-align:center;
}
.bouton{
	/*color:#F06;*/
	text-align:center;
	background-color:#b4b4ff;	
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	width:50%;
	outline-color:#0030b9;	
}
td.difficulte{
	width:50%;
	text-align:left;
}
td{
	text-align:center;
}
td.choix{
	color:#5843f4;
	/*background-color:#8da7f4;*/
	outline-color:#0030b9;	
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align:left;
	padding-left:50px;
}
table{
	width:100%;
}

.body{
		background-image:url(arel.png);
	background-repeat:no-repeat;
	padding-top:120px;
	color:#1b1431;
	font-size:18px;
}
/*
#header{
	background-image:url('arel.bmp');
	background-repeat:no-repeat;
	background-position:center;
	width:1231px;
	high:300px;
}*/
p.question{
	width:100%;
	font-weight:bold;	
}
p.vrai{
	color:green;
}
p.faux{
	color:red;
}