<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Application_L2</display-name>
  <welcome-file-list>
    <welcome-file>index-real.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ControleurSelectQCM</display-name>
    <servlet-name>ControleurSelectQCM</servlet-name>
    <servlet-class>Controleur.ControleurSelectQCM</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControleurSelectQCM</servlet-name>
    <url-pattern>/ControleurSelectQCM</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControleurListeQCMs</display-name>
    <servlet-name>ControleurListeQCMs</servlet-name>
    <servlet-class>Controleur.ControleurListeQCMs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControleurListeQCMs</servlet-name>
    <url-pattern>/ControleurListeQCMs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControleurResultQCM</display-name>
    <servlet-name>ControleurResultQCM</servlet-name>
    <servlet-class>Controleur.ControleurResultQCM</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControleurResultQCM</servlet-name>
    <url-pattern>/ControleurResultQCM</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControleurResultats</display-name>
    <servlet-name>ControleurResultats</servlet-name>
    <servlet-class>Controleur.ControleurResultats</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControleurResultats</servlet-name>
    <url-pattern>/ControleurResultats</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AuthentificationFilter</display-name>
    <filter-name>AuthentificationFilter</filter-name>
    <filter-class>Filtres.AuthentificationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthentificationFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ControleurUploadQCM</display-name>
    <servlet-name>ControleurUploadQCM</servlet-name>
    <servlet-class>Controleur.ControleurUploadQCM</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControleurUploadQCM</servlet-name>
    <url-pattern>/ControleurUploadQCM</url-pattern>
  </servlet-mapping>
</web-app>